<div class="page-header">
	<h1><%= @user.profile_name %></h1>
<div>
<br />	
<%= gmaps4rails(@json) %>
<br />

<% if @points %>
	<% @points.each do |point| %>
	<div class="well">
		<%= point.name %><br/>
		<%= point.content %><br/>
		<%= point.lat %><br/>
		<%= point.long %><br/>
	</div>
	<% end %>
<% end %>
