<!-- Profile display page -->


<% if mobile_device? %> <!-- Mobile -->

<div class="mobile-container">
	<h3 class="subheader"><%= @user.profile_name %></h3>
	
	My Groups 
	<span class="pullright"><%= link_to 'New Collection', new_group_path, class: "btn btn-info btn-small fixbut" %></span>
	<div class="mobile-text1">
		<% if @groups %>
			<% @groups.each do |group| %>
				<%= link_to group.group_name, group %><br/>
			<% end %>
		<% end %>
	</div>
	<br /><br />

	<span class="pointlist-subhead">My Points</span>
	<span class="pullright"><%= link_to 'New Point', root_path, class: "btn btn-info btn-small fixbut" %></span>
	<div class="mobile-text1">
		<% if @points %>
			<% @points.each do |point| %>
				<%= link_to point.name, point %><br />
			<% end %>
		<% end %>
	</div>

	<br /><br />

	<div class="pointlist-subhead">Profile Actions</div>
	<div class="mobile-text1">
	<%= link_to "Log Out", logout_path %><br />
	<%= link_to "Edit Profile", edit_user_registration_path %><br />
	
	</div>

</div>


<% else %> <!-- Desktop -->



<div class="m-map">
	
	<%= gmaps4rails(@json) %>
		
</div>

<div class="m-side">

	<br />
		
	<h3 class="subheader"><%= @user.profile_name %></h3>
	
	<%= link_to 'New Point', new_point_path %> <br />
	<%= link_to 'New Collection', new_group_path %><br />
	<%= link_to "Edit Profile", edit_user_registration_path %>

	

	<br />
	<br />

	<h3 class="subheader">Groups</h3>
	<% if @groups %>
		<% @groups.each do |group| %>
		<div class="well">
			<%= link_to group.group_name, group %><br />
			<%= group.group_description %><br /><br />
		</div>
		<% end %>
	<% end %>

	<br />
	<br />

	<h3 class="subheader">Points</h3>
	<% if @points %>
		<% @points.each do |point| %>
			<%= link_to point.name, point %><br />
			<%= point.content %><br /><br />
		<% end %>
	<% end %>

	

</div>


<% end %>