<!-- Profile display page -->

<p id="notice"><%= notice %></p>


<% if mobile_device? %> <!-- Mobile -->

<div class="mobile-container">
	<div class="pointlist-head"><%= @user.profile_name %></div>
	
	<span class="pointlist-subhead">My Groups</span> 
	<span class="pullright"><%= link_to 'New Collection', new_group_path, class: "btn btn-info btn-small" %></span>
	<div class="mobile-text1">
		<% if @groups %>
			<% @groups.each do |group| %>
				<%= link_to group.group_name, group %><br/>
			<% end %>
		<% end %>
	</div>
	<br /><br />

	<span class="pointlist-subhead">My Points</span>
	<span class="pullright"><%= link_to 'New Point', root_path, class: "btn btn-info btn-small" %></span>
	<div class="mobile-text1">
		<% if @points %>
			<% @points.each do |point| %>
				<%= link_to point.name, point %><br />
			<% end %>
		<% end %>
	</div>

	<br /><br />

	<div class="pointlist-subhead">Profile Actions</div>
	<div class="mobile-text1">
	<%= link_to "Edit Profile", edit_user_registration_path %><br />
	<%= link_to 'New Point', new_point_path %> <br />
	<%= link_to 'New Collection', new_group_path %>
	</div>

</div>


<% else %> <!-- Desktop -->

<br />

<div class="row-fluid">

	<div class ="span9">
		
		<%= gmaps4rails(@json) %>
			
	</div>

	<div class="span3">

		<div class="pointlist-head"><%= @user.profile_name %></div>

		<h4>Actions</h4>
		<%= link_to 'New Point', new_point_path, class: "btn btn-success" %> <br />
		<%= link_to 'New Collection', new_group_path, class: "btn btn-success" %>
		<h4>Profile</h4>
		<%= link_to "Edit Profile", edit_user_registration_path, class: "btn" %>
		<h3>Points</h3>
		<% if @points %>
			<% @points.each do |point| %>
			<div class="well">
				<%= point.name %><br/>
				<%= point.content %><br/>
				<%= point.lat %><br/>
				<%= point.long %><br/>
			</div>
			<% end %>
		<% end %>

		<h3>Sets</h3>
		<% if @groups %>
			<% @groups.each do |group| %>
			<div class="well">
				<%= group.group_name %><br/>
				<%= group.group_description %><br/>
			</div>
			<% end %>
		<% end %>

	</div>
</div>

<% end %>