<%= simple_form_for(@point, html: {class: "form-horizontal"}) do |f| %>
  <% if @point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h2>

      <ul>
      <% @point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :content %>
  <%= f.input :lat %>
  <%= f.input :long %>
   <%= f.input :user_id %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
