<h4>New Location</h4>
<%= simple_form_for(@point) do |f| %>
  <% if @point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h2>

      <ul>
      <% @point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, input_html: { class: 'input-large' } %>
  <%= f.text_area :content, :rows => "15" %>
  <div class="hide">
  <%= f.input :lat, input_html: { class: 'input-xlarge' }  %>
  <%= f.input :long, input_html: { class: 'input-xlarge' }  %>
  </div>
  <%= f.association :groups, 
                    collection: current_user.groups,
                    as: :check_boxes, input_html: { class: 'input-xlarge' }  %>

 
  <%= f.button :submit, class: "btn btn-info" %>
  
<% end %>
