<!-- Partial for Mobile menu -->

<div class="menu_mobile">

        <!-- Action Call -->
        <div id="menu_action" class="mobmen">
            <button class="toggle btn btn-info btn-block" id="butt_act" type="button">Actions</button>
        </div>

        <!-- Main Menu show? -->                  
        <div id="menu_main" class="mobmen btn-group btn-group-vertical"> 


            <!--  Edit or Add to Group -->
            <% if user_signed_in? %>
                <% if @menu_point %>
                    <% if current_user.id == @point.user_id  %>
                        <%= link_to "Edit this Location", edit_point_path(@point), class: "btn btn-block" %>
                    <% else %>
                        <%= link_to "Add This to a Group", root_path, class: "btn btn-block" %>
                    <% end %>
                <% end %>
                <% if @menu_group && current_user.id == @group.user_id %>
                    <%= link_to "Edit this Group", edit_group_path(@group), class: "btn btn-block" %>
                <% end %>
            <% end %>


            <!--  Add -->           
            <button class="toggle btn btn-block" id="butt_add" type="button">Create a New Location</button>


            <!--  Search -->
            <!-- <button class="toggle btn btn-block" id="butt_search" type="button">Search</button> -->

            
            <!-- My Locations -->
            <% if user_signed_in? %>
                <%= link_to "My Locations and Profile", id_path(current_user.profile_name), class: "btn btn-block" %>
            <% end %>

<!--  Center on Me -->           
            
             <%= link_to 'Center on Me', root_path, class: "btn btn-block" %>


<!-- Collapse -->
            <button class="toggle btn btn-block" id="butt_clear" type="button">Collapse</button>
        </div>


<!-- sub Menu -->
<!-- Add Location -->
        <div id="menu_add" class="mobmen">
            <span id="add_lat"></span>
            <span id="add_long"></span> 
            <div>
                <%= link_to 'Add Location', new_point_path, class: "btn btn-info btn-block" %>
                <button class="toggle btn btn-block" id="butt_clear2" type="button">Clear</button>
            </div>
        </div>

<!-- sub Menu -->
<!-- Search (currrently disabled)   -->        
        <div id="menu_search" class="mobmen">
            <%= render 'points/searchform' %>
            <button class="toggle btn btn-block" type="button">Clear</button>
        </div> 

    </div>

      <% content_for :scripts do %>
        <script type="text/javascript" charset="utf-8">
            
            function centerCall(){
                var lat = Gmaps.map.map.getCenter().lat();
                  sessionStorage.setItem("storLat", lat);
                var lng = Gmaps.map.map.getCenter().lng();
                  sessionStorage.setItem("storLong", lng);
                $('#add_lat').html(lat);         
                $('#add_long').html(lng);
            };

            Gmaps.map.callback = function() {
                google.maps.event.addListener(Gmaps.map.serviceObject, 'center_changed', function() {
                    centerCall();
                    }); 
                console.log("1");
                Gmaps.map.addMarkers({Lat: 43.6659304,
                                        Lng: -79.4264023, 
                                        rich_marker: null, 
                                        marker_picture: "/images/tornado-2.png"
                       });
                console.log("2");
            }; 
            



      
             <%= render 'points/infoboxscript' %>
                    
        </script>
    <% end %>