<!-- Home Page -->

<% if mobile_device? %>   <!-- Mobile -->
    
    <!-- Map Call -->
    <div id="cross">
      <%= image_tag 'cross.png' %>
    </div>
    <%= gmaps("map_options" => { :raw => "{styles: deskStyle}",   
                              "detect_location" => true, 
                              "center_latitude" => 43.8,
                              "center_longitude" => -80,
                              "center_on_user" => true, 
                              "auto_zoom" => false,
                              "zoom" => 14,
                              "class" => "gmaps4rails_mobilemap"},
                              "markers" => { "data" => @json,
                                              "options" => {"custom_infowindow_class" => "infobox"} }) %> 

   
    <%= render 'mobilemenu' %>



<% else %>  <!-- Desktop -->


    <div class="m-map">
            <%= gmaps("map_options" => { :raw => "{styles: deskStyle}", 
                                        "center_latitude" => 43.8,
                                        "center_longitude" => -80,
                                        "detect_location" => false, 
                                        "center_on_user" => true, 
                                        "auto_adjust" => false,
                                        "zoom" => 8},
                                        "markers" => { "data" => @json,
                                                       "options" => {"custom_infowindow_class" => "infobox"} }) %>  

    </div>

    <div class="m-side">
        
        <%#= render 'searchform' %>
        
        <br />
        <p>Welcome to the beta version of WizzMap.
        </p>
        <h3 class="subheader">Actions</h3>
        <p>Too add a new location to the map:
        <%= link_to 'New Point', new_point_path %></p>

        <p>Too create a group of collections:
        <%= link_to 'New Group', new_group_path %></p>
        
        <p>If you need help or want to know how all of this works:
        <%= link_to 'Instructions and Help', help_path %></p>
        
        
            
    </div>
    

   <%= render 'infoboxscript' %>
    
<% end %>





