<!-- Home Page -->

<% if mobile_device? %>   <!-- Mobile -->
    
    <!-- Map Call -->

    <%= gmaps("map_options" => { :raw => "{styles: deskStyle}",   
                              "detect_location" => true, 
                              "center_on_user" => true, 
                              "auto_zoom" => false,
                              "zoom" => 13,
                              "class" => "gmaps4rails_mobilemap"},
                              "markers" => { "data" => @json,
                                              "options" => {"custom_infowindow_class" => "infobox"} }) %> <!-- style options in points.js --> 

   
    <%= render 'mobilemenu' %>



<% else %>  <!-- Desktop -->

<br />

    <div class="row-fluid">
        <div class="span8">
            <%= gmaps("map_options" => { :raw => "{styles: deskStyle}", 
                                        "center_latitude" => 43.5,
                                        "center_longitude" => -80,
                                        "detect_location" => false, 
                                        "center_on_user" => false, 
                                        "auto_adjust" => false,
                                        "zoom" => 7},
                                        "markers" => { "data" => @json,
                                                       "options" => {"custom_infowindow_class" => "infobox"} }) %>  <!-- style options in points.js --> 

        </div>

        <div class="span4">
            <h3>Search</h3>
            <%= render 'searchform' %>
             
             <h3>Actions</h3>
             Add Location [BUTTON] <br />
             My Points [BUTTON] <br />

             <br />
             <%= link_to 'New Point', new_point_path, class: "btn btn-success" %>
            <br />
            <%= link_to 'List of Points for Debug', list_path, class: "btn btn-info" %>
            <%= link_to 'List of Groups for Debug', groups_path, class: "btn btn-info" %>

        
             <div id="dataDisplay">
                <h3>Data</h3>
                - Shown on click -
                <br />
                i = <span id="iLabel"> </span>


            </div>
            
        </div>
    </div>

   <%= render 'infoboxscript' %>
    
<% end %>





