<!-- List of all Points for dev and debugging purposes -->



<div class="row-fluid">
    <div class="span10 offset1">
        <h2>Data Points</h2>
        <table class="table table-bordered">
            <% @points.each do |point| %>
              <tr>
                <td><%= point.user.profile_name %></td>
                <td><%= point.name %></td>
                <td><%= point.content %></td>
                <td>
                    <% if @groups %>
                        <% @groups.each do |group| %>
                            <li><%= group.group_name %></li>
                        <% end %>
                    <% else %>
                    No Groups
                    <% end %>
                </td>           
                <td><%= point.lat %></td>
                <td><%= point.long %></td>
                <td>
                    <%= link_to 'Show', point %>
                    <%= link_to 'Edit', edit_point_path(point) %>
                    <%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
        </table>
    <br />

    <%= link_to 'New Point', new_point_path, class: "btn btn-success" %>

    </div>
</div>





