<% if mobile_device? %>    <!-- Mobile -->

    <h2>New Location</h2>
    <%= simple_form_for(@point) do |f| %>
        <% if @point.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h2>

            <ul>
                <% @point.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <%= f.input :name %>
    <%= f.input :content %>
    <%= f.input :lat %>
    <%= f.input :long %>
  
    <%= f.button :submit %>
 
<% end %>



<% else %>       <!-- Desktop -->

<h1>New Location</h1>


<div class="row-fluid">
	<div class="span8">
		<div>
			<%= gmaps4rails(@json) %>
		</div>
	</div>
	<div class="span4">
		<h4>New test Form </h4>
		<%= render 'sidebarform' %>
	</div>
</div>

<% content_for :scripts do %>
	<script type="text/javascript" charset="utf-8">
		var markersArray = [];

		// Clear markers on click, place new one, update coords
		Gmaps.map.callback = function() {
			google.maps.event.addListener(Gmaps.map.serviceObject, 'click', function(event) {
				clearOverlays();
				placeMarker(event.latLng);
				updateFormLocation(event.latLng);
			});

		};

		// Update form attributes with given Coordinates
		function updateFormLocation(latLng) {
            $('#point_lat').val(latLng.lat());
            $('#point_long').val(latLng.lng());
            $('#location_attributes_gmaps_zoom').val(Gmaps.map.serviceObject.getZoom());
        }

        // Add a marker with an open infowindow
        function placeMarker(latLng) {
            var marker = new google.maps.Marker({
                position: latLng, 
                map: Gmaps.map.serviceObject,
                draggable: true
            });
            markersArray.push(marker);
            // Set and open infowindow
            var infowindow = new google.maps.InfoWindow({
                content: '<div class="popup"><h2>Awesome!</h2><p>Drag me and adjust the zoom level.</p>'
            });
            infowindow.open(Gmaps.map.serviceObject,marker);
            // Listen to drag & drop
            google.maps.event.addListener(marker, 'dragend', function() {
                updateFormLocation(this.getPosition());
            });
        }

        // Removes the overlays from the map
        function clearOverlays() {
          if (markersArray) {
            for (var i = 0; i < markersArray.length; i++ ) {
              markersArray[i].setMap(null);
            }
          }
          markersArray.length = 0;
        }
		

	</script>
<% end %>


<% end %>