<!-- Point - Show -->
<!-- One Location Show -->

<% if mobile_device? %> <!-- Mobile -->
  <div class="map-label">
  <%= @point.name %>
  </div>
  
  <!-- Custom map options for 1 location show -->
  

  <%= gmaps("map_options" => { :raw => "{styles: deskStyle}",
                                "detect_location" => false, 
                                "center_on_user" => false, 
                                "auto_zoom" => false,
                                "zoom" => 12,
                                "class" => "gmaps4rails_mobilemap"},
                                "markers" => { "data" => @json,
                                                "options" => {"custom_infowindow_class" => "infobox"} }) %>
 
  
  <%= render 'mobilemenu' %>


<% else %>        <!-- Desktop -->

    <div class="m-map">

      <!-- Custom map options for 1 location show -->
      <%= gmaps("map_options" => {  :raw => "{styles: deskStyle}",
                                    "detect_location" => true, 
                                    "center_on_user" => false, 
                                    "auto_zoom" => false,
                                    "zoom" => 14},
                                    "markers" => { "data" => @json,
                                                    "options" => {"custom_infowindow_class" => "infobox"} }) %>  

    </div>

    <div class="m-side">
      <br />
      <h3 class="subheader"><%= @point.name %></h3>

      <em>By: </em> <%= @point.user.profile_name %>
      <br />
      <p><%= @point.content %>
      </p>

     <br />
     <br />
     <h5 class="subheader">Member of</h5>
        <% if @groups %>
          <% @groups.each do |group| %>
            <li><%= link_to group.group_name, group %></li><br />
          <% end %>

        <% else %>
          No Groups
        <% end %>
        <br />
        
        <%= link_to 'Edit this Point ', edit_point_path(@point), class: "button small" %> 

      
    
    </div>
 
  
  <%= render 'points/infoboxscript' %>
<% end %>
