<!-- Point - Show -->
<!-- One Location Show -->

<% if mobile_device? %> <!-- Mobile -->
  <div class="map-label">
  <%= @point.name %>
  </div>
  
  <!-- Custom map options for 1 location show -->
  <%= gmaps("map_options" => { :raw => "{styles: deskStyle}",
                                "detect_location" => true, 
                                "center_on_user" => false, 
                                "auto_zoom" => false,
                                "zoom" => 13,
                                "class" => "gmaps4rails_mobilemap"},
                                "markers" => { "data" => @json,
                                                "options" => {"custom_infowindow_class" => "infobox"} }) %>

  
  <%= render 'mobilemenu' %>


<% else %>        <!-- Desktop -->

<p id="notice"><%= notice %></p>
<br />
  <div class="row-fluid">
    <div class="span9">

    <!-- Custom map options for 1 location show -->
    <%= gmaps("map_options" => {  :raw => "{styles: deskStyle}",
                                  "detect_location" => true, 
                                  "center_on_user" => false, 
                                  "auto_zoom" => false,
                                  "zoom" => 12},
                                  "markers" => { "data" => @json,
                                                  "options" => {"custom_infowindow_class" => "infobox"} }) %>  

    </div>

    <div class="span3">
      <div class="pointlist-head"><%= @point.name %></div>
      <div class="pointlist-subhead"><em>Author: </em> <%= @point.user.profile_name %> </div>
      <br />
      <div class="pointlist-content"><%= @point.content %></div> 

     <br /><br />
     <div class="pointlist-subhead">Belongs to these Groups:</div>
        <% if @groups %>
          <% @groups.each do |group| %>
            <li><%= link_to group.group_name, group %></li><br />
          <% end %>

        <% else %>
          No Groups
        <% end %>
        <br />
        <%= link_to ' Edit ', edit_point_path(@point), class: "btn btn-info" %> 

      
    
    </div>
  </div>
  
  <%= render 'points/infoboxscript' %>
<% end %>
