<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @point.name %>
</p>

<p>
  <b>User:</b>
  <%= @point.user.profile_name %>
</p>

<p>
  <b>Content</b>
  <%= @point.content %>
</p>

<p>
  <b>Lat:</b>
  <%= @point.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @point.long %>
</p>


<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
