<h1>List of all Collections</h1>

<% @groups.each do |group| %>
	<%= group.group_name %>
	<%= group.group_description %>
	<%= group.user.profile_name %>
	<%= link_to 'Show', group %>
    <%= link_to 'Edit', edit_group_path(group) %>
    <%= link_to 'Destroy', group, :confirm => 'Are you sure?',
                                     :method => :delete %>
    <br /> <br />

<% end%>
