<!-- Group - Show -->
<!-- One Group Show -->

<% if mobile_device? %> <!-- Mobile -->

	<div class="map-label">
	<%= @group.group_name %>
	</div>
	 <%= gmaps("map_options" => { :raw => "{styles: deskStyle}",  
	                              "detect_location" => true, 
                              	  "center_on_user" => false, 
	                              "auto_zoom" => false,
	                              "zoom" => 3,
	                              "class" => "gmaps4rails_mobilemap"},
	                              "markers" => { "data" => @json,
                                              "options" => {"custom_infowindow_class" => "infobox"} }) %>  

    <%= render 'points/mobilemenu' %>


<% else %>  <!-- Desktop -->
	

	<div class="m-map">
	 	<%= gmaps("map_options" => {  :raw => "{styles: deskStyle}",
                              "detect_location" => true, 
                              "center_on_user" => false, 
                              "auto_zoom" => false},
                              "markers" => { "data" => @json,
                                              "options" => {"custom_infowindow_class" => "infobox"} }) %>  

	</div>

	<div class="m-side">
		<br />

		<h3 class="subheader"><%= @group.group_name %></h3>

		<em>By: </em> <%= @group.user.profile_name %> <br />
		<p>
			<%= @group.group_description %>
		</p>
		<br />
		<h3 class="subheader">Points </h3>
		<% if @points %>
			<% @points.each do |point| %>
				<%= link_to point.name, point %><br />
				<%= point.content %><br /><br />
			
			<% end %>
		<% end %>

		<br />

    	<%= link_to 'Edit this Group', edit_group_path(@group), class: "button small" %> 


		
	</div>
	
	
	<%= render 'points/infoboxscript' %>

<% end %>