<h1>Show Group Page</h1>

<p id="notice"><%= notice %></p>
 
<p>
  <b>Group Name:</b>
  <%= @group.group_name %>
</p>
 
<p>
  <b>Description:</b>
  <%= @group.group_description %>
</p>

<p>
    <b>User:</b>
    <%= @group.user.profile_name %>
</p>
  
 
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>