<!DOCTYPE html>
<html>
<head>
  <title>Wizzmap - Beta Version </title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


<!-- Mobile stuff -->
 
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />

</head>

<body>

	<%= render 'layouts/navbar'  %>

	<% if flash %>
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>" >
				<button class="close" data-dismiss="alert">x</button>
				<%= message %>
			</div>
		<% end %>		
	<% end %>
		 
		 
	<%= yield %>

	<%= yield :scripts %>  <!-- for gmaps -->




</body>
</html>
