<!DOCTYPE html>
<html>
<head>
  <title>Wizzmap Beta Ver6</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!-- Mobile stuff -->
 
  <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

</head>
<body>

<div class="container">

<!-- NavBar Links -->
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	  	<ul class="brand">
	  		<li><%= link_to "Wizzmap - BETA", root_path %></li>
	  	</ul>

	    <ul class="nav pull-right"> 
	    	<% if user_signed_in? %>
	    		<li><%= link_to current_user.profile_name, edit_user_registration_path %></li>
	    		<li><%= link_to "Log Out", logout_path %></li>
	    	<% else %>
	    		<li><%= link_to "Log In", login_path %></li>
	    		<!-- Hidden if Mobile -->
	    		<% if mobile_device? %><% else %><li><%= link_to "Register", register_path %></li><% end %> 
	    	<% end %>
	    </ul>
	  </div>
	</div>
</div>

<div class="container">

	<!-- Flash Messages -->

	<% flash.each do |type, message| %>
		<div class="alert <%= flash_class type %>" >
			<button class="close" data-dismiss="alert">x</button>
			<%= message %>
		</div>
	<% end %>
</div>
	 
<%= yield %>

<%= yield :scripts %>  <!-- for gmaps -->


<!-- Mobile menu -->
<!-- or is this done a page by page basis?? -->


	



</body>
</html>
