<!DOCTYPE html>
<html>
<head>
  <title>Wizzmap - Beta Version </title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


<!-- Mobile stuff -->
 
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />

</head>

<body>

	<%= render 'layouts/navbar'  %>

	<% if flash %>
		<% flash.each do |type, message| %>
			<div data-alert class="alert-box <%= flash_class type %>" >
				<%= message %><a href="#" class="close">&times;</a>
			</div>
		<% end %>		
	<% end %>
		 
		 
	<%= yield %>

	<%= yield :scripts %>  <!-- for gmaps -->




</body>
</html>
