<!DOCTYPE html>
<html>
<head>
  <title>Wizzmap - Beta Version </title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>

<!-- Mobile stuff -->
 
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />

</head>
<body>

<div class="container-fluid">
<div class="row-fluid">


<!-- NavBar Links -->
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	  	<ul class="brand">
	  		<li><%= link_to "Wizzmap", root_path %></li>
	  	</ul>

	    <ul class="nav pull-right"> 
	    	<% if user_signed_in? %>
	    		<li><%= link_to current_user.profile_name, id_path(current_user.profile_name) %></li>
	    		<% unless mobile_device? %><li><%= link_to "Log Out", logout_path %></li><% end %>
	    	<% else %>
	    		<li><%= link_to "Log In", login_path %></li>
	    		<% unless mobile_device? %><li><%= link_to "Register", register_path %></li><% end %> 
	    	<% end %>
	    </ul>
	  </div>
	</div>
</div>
</div>

<div class="container-fluid">

	<!-- Flash Messages -->

	<% flash.each do |type, message| %>
		<div class="alert <%= flash_class type %>" >
			<button class="close" data-dismiss="alert">x</button>
			<%= message %>
		</div>
	<% end %>
</div>
	 
<%= yield %>

<%= yield :scripts %>  <!-- for gmaps -->




</body>
</html>
